body{
    
    font-size: 13px;
    font-style: Verdana, Tahoma, sans-serif;
}

.nav li{
    display: inline-block;
}
.nav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: #333;
  display: flex;
  justify-content: center;
 font-family: 'Anton',cursive;
  color:white;
}
 .nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} 
.nav a:hover{
    background: #000;
    transition: 1s;
}
.wrapper{
     text-align: center;
}

h1{
    color: #1e1e1e;
}
input,textarea{
    padding: 10px;
    border: 1px solid #e5e5e5;
    width:200px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
}
textarea{
    width: 400px;
    height: 150px;
    max-width: 400px;
}
input:hover, textarea:hover,
 input:focus, textarea:focus{
border-color: 1px solid #1e1e1e;
box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
-moz-box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;
-webkit-box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;
}
.form label{
    margin-left: 10px;
    color: #1e1e1e;
}

/****** submit ******/
.submit input{
    width:100px;
    height: 40px;
    color:white;
    background-color: #1e1e1e;
}
/* border box --> 
p{ 
    text-align: center;
          margin: 1em;
        color: #1e1e1e;
        width: 500px;
            border: 5px solid black;
            padding: 60px;
            margin: 20px;
            display: inline-block;
            max-height: 600px;
    } */