
  .nav li{
      display: inline-block;
  }
  .nav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    display: flex;
    justify-content: center;
   font-family: 'Anton',cursive;
    color:white;
  }
   .nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  } 
  .nav a:hover{
      background: #000;
      transition: 1s;
  }
  .wrapper{
       text-align: center;
  }
/*******my works*******/

.container{
    width: 1280px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    background: wheat;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;

}
.container .box .imgBox{
    position: relative;
    overflow: hidden;
    display: flex;
    align-content: center;
}
.container .box .imgBox img{
    margin: 10px;
    max-width: 280px;
    max-height: 300px;
    transition: transform 0.5s;
}
.container .box:hover .imgBox img{
transform: scale(1.2);
}

